html{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 62.5%;
}
*,*:after,*:before{
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body{
	background: Cornsilk;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	// overflow: hidden;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		text-align: center;
		font-family: 'Indie Flower', cursive;
		font-size: 500%;
		display: inline-block;
    	vertical-align: middle;
    	line-height: normal;

	}
}
.animation-work{
	&:after{
		content: 'Let\' take a break !';
		background: aqua;
		animation: workTransition 1.5s ease-in-out;
	}
}
.animation-break{
	&:after{
		content: 'Go back to work !';
		animation: workTransition 1.5s ease-in-out;
		background: LightGreen;
	}
}

button{
	outline: none;
}
header{
	margin-bottom: 2rem;

	h1{
		position: relative;
		
		margin: 0;
		padding: 1rem;
		font-family: 'Indie Flower', cursive;
		font-size: 7rem;
		letter-spacing: 1rem;
		color: DarkSlateGray;
		border-bottom: .1rem solid DarkSlateGray;
		border-bottom-right-radius: 50%;
		-webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
		box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);

	}
}
section{
	position: relative;
	.tomato{
		margin: 0 auto;
		text-align: center;
		&__pic{
			position: relative;
			display: inline-block;
			width: 60rem;
			height: 60rem;
			border-radius: 50%;
			background: white;			
			.tomato__button{
				z-index: 10;
				position: absolute;
				top: 50%;
				left: 50%;
				// margin-top: -5rem;
				margin-left: -5rem;
				width: 10rem;
				height: 10rem;
				font-family: "Russo One", sans-serif;
				font-size: 2rem;
				color: whitesmoke;
				border-radius: 50%;
				background: rgba(0,0,0,0);
				border: none;
				transition: opacity .7s;
				opacity: 0;
				visibility: hidden;
				&-active{
					opacity: 1;
					visibility: visible;
				}
				&:after{
					z-index: -1;
					position: absolute;
					content: "";
					border-radius: 50%;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					border: 1px white solid;
					animation: pulse infinite 1s alternate;
					transform: translateY(-50%);
					transform: translateX(-50%);
					transition: .4s;
				}
				&:hover{
					cursor: pointer;
					background: #84BD93;
					&:after{
						background: #84BD93;
					}
				}
			}
			.container{
				width: 44rem;
				height: 10rem;
				position: absolute;
				top: 45%;
				left: 50%;
				-webkit-transform: translateY(-50%);
				        transform: translateY(-50%);
				-webkit-transform: translateX(-50%);
				        transform: translateX(-50%);
				overflow-x: hidden;
				
				.timeline{
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translateY(-50%);
					        transform: translateY(-50%);
					white-space: nowrap;
					transition: opacity 0.7s;
					&-active{
						opacity: 1;
						visibility: visible;

					}
					
					&__unit{
						display: inline-block;
						height: 2rem;
						width: .5rem;
						background: white;
						border-radius: 50%;
						margin-right: 1rem;
						&:nth-child(5n+1){
							height: 3rem;
							&:after{
								content: "";
								font-family: "Russo One", sans-serif;
								position: absolute;
								color: white;
								font-size: 2rem;
								top: -3rem;
								-webkit-transform: translateX(-50%);
								        transform: translateX(-50%);
							}
						}
						&:nth-last-child(1){
							margin-right: 0;
						}
						&:nth-child(1):after{
							content: "60";
						}
						&:nth-child(6):after{
							content: "55";
						}
						&:nth-child(11):after{
							content: "50";
						}
						&:nth-child(16):after{
							content: "45";
						}
						&:nth-child(21):after{
							content: "40";
						}
						&:nth-child(26):after{
							content: "35";
						}
						&:nth-child(31):after{
							content: "30";
						}
						&:nth-child(36):after{
							content: "25";
						}
						&:nth-child(41):after{
							content: "20";
						}
						&:nth-child(46):after{
							content: "15";
						}
						&:nth-child(51):after{
							content: "10";
						}
						&:nth-child(56):after{
							content: "5";
						}
						&:nth-child(61):after{
							content: "0";
						}
					}
				}
			}
			.pointer{
				position: absolute;
				top: 60%;
				left: 50%;
				-webkit-transform: translateX(-50%);
				        transform: translateX(-50%);
				width: 0; 
 				height: 0; 
  				border-left: 1.5rem solid transparent;
  				border-right: 1.5rem solid transparent;
  				border-bottom: 1.5rem solid white;
  				transition: opacity .7s;
				opacity: 0;
				visibility: hidden;
				&-active{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.buttons{
		position: absolute;
		top: 0;
		left: 0;
		width: 32rem;
		h3{
			text-align: center;
				font-size: 3rem;
				font-family: 'Russo One', sans-serif;
				width: 100%;
		}
		&__break, &__work{
			text-align: center;
			width: 100%;
			form{
				margin: 1rem;
				display: inline-block;
				width: 30%;
				input{
					font-family: "Russo One", sans-serif;
					width: 100%;
					height: 6rem;
					border-radius: 1rem;
					border: none;
					font-size: 3rem;
					text-align: center;
				}
			}
			button{
				display: inline-block;
				border: none;
				background: white;
				border-radius: 50%;
				width: 6rem;
				height: 6rem;
				font-size: 3rem;
				font-weight: 700;
				transition: .5s;
				line-height: 100%;
				filter: brightness(85%);
				&:nth-child(2){
					background: violet;
					color: whitesmoke;

				}
				&:nth-child(4){
					background: #b4d445;
					color: DarkSlateGray;
				}
				&:hover{
					filter: brightness(100%);
					border-radius: 0;
					transform: rotate(180deg) scale(0.8);	
					cursor: pointer;

				}
			}
		}
	}
	.timer{
		margin: 0 1rem;
		opacity: 0;
		visibility: hidden;
		transition: .7s;
		position: absolute;
		top: 0;
		right: 4rem;
		border-radius: 4rem;
		text-align: center;
		&-active{
			opacity: 1;
			visibility: visible;
		}
		p{
			padding: 0;
			margin: 0;
			font-family: "Inconsolata", sans-serif;
			color: #84BD93;
			font-size: 10rem;
			border: 1rem solid black;
			border-radius: 1rem;
			margin-bottom: 1rem;
			
		}
		button{
			width: 10rem;
			height: 4rem;
			margin: 0 1rem;
			font-family: 'Russo One', sans-serif;
			letter-spacing: 0.3rem; 
			border-radius: 1rem;
			border: none;
			background: indigo;
			color: whitesmoke;
			filter: brightness(80%); 
			transition: .5s;
			&:hover{
				filter: brightness(100%);
				border-radius: 0;
				cursor: pointer;
			}
		}
	}
}
@media screen and (max-width: 1166px) and (min-width: 700px){
	section{
		.buttons{
			position: relative;
			width: 100%;
			display: flex;

		}
		.timer{
			right: 100%;
			&-active{
				position: relative;
				right: 0;
			}
			
		}

	}
}
@media screen and (max-width: 699px) and (min-width: 450px){
	header{
		h1{
			font-size: 5rem;
		}
	}
	section{
		.buttons{
			position: relative;
			width: 100%;
			display: flex;

		}
		.timer{
			right: 100%;
			&-active{
				position: relative;
				right: 0;
			}
			p{
				font-size: 5rem;
			}
		}
		.tomato{
			&__pic{
				width: 45rem;
				height: 45rem;
				img{
					height: 40rem;
					width: 40rem;
				}
				.container{
					width: 34rem;
				}
			}
		}

	}
}
@media screen and (max-width: 449px){
	header{
		h1{
			font-size: 3.8rem;
		}
	}
	section{
		.buttons{
			position: relative;
			width: 100%;
			display: flex;

		}
		.timer{
			right: 100%;
			&-active{
				position: relative;
				right: 0;
			}
			p{
				font-size: 5rem;
			}
		}
		.buttons{
			&__break, &__work{
				button{
					width: 4rem;
					height: 4rem;
				}
			}
		}
		.tomato{
			&__pic{
				width: 35rem;
				height: 35rem;
				img{
					height: 30rem;
					width: 30rem;
				}
				.tomato__button{
					width: 7rem;
					height: 7rem;
					margin-left: -3.5rem;
					font-size: 1.5rem;
				}
				.container{
					width: 24rem;
				}
				.pointer{
					top: 65%;
				}
			}
		}

	}
}

@keyframes pulse{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}
@keyframes workTransition{
	0%{
		top: 0; 
		left: 0;
		height: 0;
	}
	50%{
		top: 0; 
		left: 0;
		height: 120%;
	}
	100%{
		top: 115%;
		left: 0;
		height: 100%;
	}
}